body, html {
  height: 100%;
  margin: 0;
}
.main-container {
  width: 1600px;
  height: 10890px;
  margin: 0 auto;
}

.header {
  width: 1600px;
  height: 900px;
  margin: 0 auto;
  border: 0;
  background-image: url("../img/header-back.jpg");
  background-repeat: no-repeat;
}
.header-big {
  position: absolute;
  margin-top: 510px;
  margin-left: 215px;
  font-family: 'Montserrat', sans-serif;
  font-size: 36pt;
  color: white;
  text-align: left;
  text-transform: uppercase;
}
.header-small {
  position: absolute;
  margin-top: 570px;
  margin-left: 215px;
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
  color: white;
  text-align: left;
}
.slogan-container{
  position: absolute;
  width: 830px;
  height: 130px;
  margin-top: 625px;
  margin-left: 215px;
  border: solid 1px white;
}
.slogan-back {
  position: absolute;
  width: 830px;
  height: 130px;
  top: 0;
  left: 0;
  background-image: url("../img/header-slogan.png");
  opacity: 0.25;
}
.slogan-content {
  position: relative;
  top: 35px;
  font-family: 'Montserrat', sans-serif;
  font-size:40pt;
  text-align: center;
  text-transform: uppercase;
}
.slogan-left {
  color: #f1ad1d;
}
.slogan-right {
  color: white;
  margin-left: 30px;
}
.said {
  width: 1578px;
  height: 873px;
  margin: 0 auto;
  padding-top: 35px;
  border: 0;
  background-image: url("../img/said-back.jpg");
  background-repeat: no-repeat;
}
.said-head-top {
  font-family: 'Montserrat', sans-serif;
  font-size:22pt;
  text-align: center;
  text-transform: uppercase;
}
.said-small {
  display: block;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size:17pt;
}
.center-img {
  display: block;
  margin: 60px auto;
}

.navbar{
  width: 1165px;
  margin: 0 auto;
  background-color: white;
  border-bottom: 3px solid #f1ad1d;
  position: sticky;
  top: 2px;
  z-index: 2;
}

.navbar-list {
  display: inline-block;
}

.sertin-logo {
  width: 136px;
  height: 28px;
  margin-right: 170px;
}

.navbar-item {
  display: inline-block;
  margin-left: 40px;
}

.navbar-link {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 22px;
  color: #3d3d3d;
  text-decoration: none;
  text-transform: uppercase;
}

.arrow:after {
  content: "\25BE";
}

.navbar-link:hover {
  color: #f1ad1d;
}

.submenu {
  visibility: hidden;
  position: absolute;
  margin-left: -40px;
  list-style: none;
  background-color: white;
}

.submenu-item {
  margin: 5px 20px;
}
.navbar-item:hover .submenu{
  visibility: visible;
  color: #f1ad1d;
}

.orange {
  color: #f1ad1d;
}

.white {
  color: white;
}

.bottom-second {
  width: 1578px;
  height: 873px;
  margin: 15px auto;
  padding: 20px 193px;
  border: 0;
  background-image: url("../img/said-back.jpg");
  background-repeat: no-repeat;
}

.gallery {
  float: left;
  height: 318px;
  width: 600px;
  border: 0;
  background-color: transparent;
}

.gallery-link {
  display: block;
  position: absolute;
  top: 93px;
  left: 15px;
  padding-left: 15px;
  padding-top: 7px;
  width: 117px;
  height: 35px;
  text-align: left;
  font-family: 'lato', sans-serif;
  font-size:13pt;
  background-color: #333333;
  border: 0;
  color: white;
  text-decoration: none;
}

.gal-element {
  position: relative;
  float: left;
  width: 270px;
  height: 148px;
  margin: 10px 15px;
  border: 0;
}

.right-block {
  float: left;
  width: 600px;
  margin: 7px 12px;
  border: 0;
}

.header-gallery {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size:20pt;
  text-transform: uppercase;
}

.text-gallery {
  font-family: 'lato', sans-serif;
  font-size:13pt;
  text-align: justify;
}

.orange-btn {
  margin-top: 16px;
  text-align: center;
  font-family: 'lato', sans-serif;
  font-size:13pt;
  border: 0;
  background-color: #f1ad1d;
  color: white;
  padding: 20px 25px;
  cursor: pointer;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.speedometr {
  text-align: center;
  padding-top: 130px;
  width: 1600px;
  height: 380px;
  margin: 125px auto 0;
  background-image: url("../img/speedometr.jpg");
  background-repeat: no-repeat;
}

.team-main {
  width: 1578px;
  height: 873px;
  margin: -130px auto 0;
  padding-top: 35px;
  background-image: url("../img/said-back.jpg");
  background-repeat: no-repeat;
}

.gallery-team {
  width: 75%;
  margin: 0 auto;
}

.photos-team {
  float: left;
  width: 193px;
  height: 178px;
  margin: 1px 1px;
  border: 0;
}

.photo1 {
  background-image: url("../img/Cline.jpg");
  background-repeat: no-repeat;
}

.photo2 {
  background-image: url("../img/Shirley.jpg");
  background-repeat: no-repeat;
}

.photo3 {
  background-image: url("../img/Coley.jpg");
  background-repeat: no-repeat;
}

.photo4 {
  background-image: url("../img/Macaulay.jpg");
  background-repeat: no-repeat;
}

.photo5 {
  background-image: url("../img/Guido.jpg");
  background-repeat: no-repeat;
}
.photo6 {
  background-image: url("../img/Pilcher.jpg");
  background-repeat: no-repeat;
}
.photo7 {
  background-image: url("../img/Yee.jpg");
  background-repeat: no-repeat;
}
.photo8 {
  background-image: url("../img/Riddle.jpg");
  background-repeat: no-repeat;
}
.photo9 {
  background-image: url("../img/Fisher.jpg");
  background-repeat: no-repeat;
}
.photo10 {
  background-image: url("../img/Fike.jpg");
  background-repeat: no-repeat;
}
.photo11 {
  background-image: url("../img/Ross.jpg");
  background-repeat: no-repeat;
}
.photo12 {
  background-image: url("../img/Williams.jpg");
  background-repeat: no-repeat;
}
.btn-team {
  margin-top: 120px;
  margin-left: 10px;
  height: 42px;
  padding: 0 35px 0 15px;
  text-align: left;
  font-family: 'lato', sans-serif;
  font-size:13pt;
  background-color: #333333;
  border: 0;
  color: white;
  cursor: pointer;
}
.margin200 {
  margin-top: 200px;
}
.cards {
  width: 77%;
  margin: 0 auto;
}
.card1 {
  display: inline-block;
}
.card2 {
  display: inline-block;
}
.card3 {
  display: inline-block;
}
.card4 {
  display: inline-block;
}
.btn-card {
  display: inline-block;
  margin: 0 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt;
  width: 270px;
  height: 55px;
  font-weight: 600;
  border: 0;
  background-color: #333;
  cursor: pointer;
}
.message-continer {
  float: left;
  margin-top: 400px;
  margin-left: 192px;
  width: 570px;
}
.send-message {
  width: 365px;
  height: 41px;
  background-color: #333;
  padding-left: 15px;
  padding-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size:18pt;
  color: white;
}
.message-text {
  font-family: 'Lato', sans-serif;
  font-size:14pt;
  color: black;
}

.font-italic {
  font-family: 'Lato', sans-serif;
  font-size:14pt;
  font-style: italic;
}
.form-name {
  float: left;
  padding-left: 10px;
  width: 255px;
  height: 43px;
}
.form-mail {
  float: right;
  padding-left: 10px;
  width: 255px;
  height: 43px;
}
.form-textarea {
  padding: 10px;
  margin: 23px 0;
  width: 548px;
  height: 164px;
}
.form-btn {
  width: 118px;
  height: 43px;
  margin-right: 24px;
  background-color: #f1ad1d;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.contacts-container {
  margin-top: 400px;
  margin-right: 192px;
  float: right;
  width: 246px;
  height: 480px;
}
.contact-header {
  width: 246px;
  height: 41px;
  background-color: #333;
  padding-left: 15px;
  padding-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size:18pt;
  color: white;
}
#portfolio {
  width: 1578px;
  height: 873px;
  background-image: url("../img/said-back.jpg");
  background-repeat: no-repeat;
}
.potfolio-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.potfolio-header-big {
  margin-top: 100px;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}
.potfolio-header-small {
  color: #4d4943;
  margin-bottom: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}
.separator-small {
  width: 60px;
  border-bottom: 3px solid #f1ad1d;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}
.nav-item {
  margin: 8px;
  border: 1px solid #333;
  background-color: white;
  padding: 11px 35px;
  display: block;
  text-decoration: none;
  color: #111111;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
}
.nav-item:hover {
  background-color: #333;
  color: #f1ad1d;
  transition: 0.2s;
}
.potrfolio-gallery {
  margin: 44px auto;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.potrfolio-gallery-img {
  margin: 7px;
  height: 280px;
  width: 270px;
  position: relative;
  transition:1s ease all;
  transform-style: preserve-3d;
  -webkit-transition:1s ease all;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg);
}
.potfolio-hover-header {
  color: #111111;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.potfolio-header-text {
  color: #5b5b5b;
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.portfolio-btn {
  color: #ffffff;
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  background-color: #f1ad1d;
  padding: 15px 35px;
  border: none;
  cursor: pointer;
}
.potrfolio-gallery-img:hover {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}
.potrfolio-gallery-img .gallery-img1-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/Potrfolio_img1.png");
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.potrfolio-gallery-img .gallery-img2-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/Potrfolio_img2.png");
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.potrfolio-gallery-img .gallery-img3-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/Potrfolio_img3.png");
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.potrfolio-gallery-img .gallery-img4-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/Potrfolio_img4.png");
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.potrfolio-gallery-img .gallery-img5-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/Potrfolio_img5.png");
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.potrfolio-gallery-img .gallery-img6-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/Potrfolio_img6.png");
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.potrfolio-gallery-img .gallery-img7-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/Potrfolio_img7.png");
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.potrfolio-gallery-img .gallery-img8-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/Potrfolio_img8.png");
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.potrfolio-gallery-img .gallery-img9-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/Potrfolio_img9.png");
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.potrfolio-gallery-img .gallery-img10-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/Potrfolio_img10.png");
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.potrfolio-gallery-img .gallery-img11-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/Potrfolio_img11.png");
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.potrfolio-gallery-img .gallery-img12-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/Potrfolio_img12.png");
  background-repeat: no-repeat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.potrfolio-gallery-img .back {
  position: absolute;
  box-sizing: border-box;
  padding: 20px 27px;
  width: 100%;
  height: 100%;
  background: white;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateX(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #333;
}
